.ResponseClass {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
}

.ResponseClass div {
    margin-bottom: 10px;
}